/* .AppHeader {
  display: flex;
  background-color: paleturquoise;
  padding: 30px;
}

.firstTitle {
  font-size: 36px;
}

.occupation {
  color: dimgray;
  font-size: 28px;
}

.header {
  margin-left: 100px;
}

.AppPhoto {
  height: 300px;
  border-radius: 50%;
} */
